<form name="createForm" ng-submit="create()" role="form" novalidate>
  <h1 class="subtitle">Данные об автомобиле</h1>
  <div class="subblock">
    <p>Кооректно заполните все поля формы. Обращаем Ваше внимание, что марку автомобиля нужно указать в соответствии с техническим паспортом.</p>
  </div>
  <div class="subblock">
    <div class="form-group row">
      <label class="col-sm-3 form-label required">Страна регистрации автомобиля</label>
      <div class="col-sm-7">
        <select ng-focus="error['country'] = ''"
                ng-click="error['country'] = ''"
                ng-class="{'is-invalid': error['country'] }"
                ng-model="modelCar.country"
                class="form-control"
                ng-options="key as value for (key , value) in countries">
          <option selected value="" style="display:none;">Выберите страну</option>
        </select>
        <div ng-if="error['country']" class="invalid-tooltip">
          {{ error['country']}}
        </div>
      </div>
    </div>  
    
    <div class="form-group row">
      <label class="col-sm-3 required">Гос. номер автомобиля</label>
      <div class="col-sm-7">
        <input ng-click="error['car_number'] = ''" ng-class="{'is-invalid': error['car_number'] }" ng-model="modelCar.car_number" type="text" class="form-control" placeholder="" id="">
        <div ng-if="error['car_number']" class="invalid-tooltip">
          {{ error['car_number']}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 required">Марка автомобиля</label>
      <div class="col-sm-7">  
        <input ng-click="error['car_brand'] = ''" ng-class="{'is-invalid': error['car_brand'] }" ng-model="modelCar.car_brand" type="text" class="form-control" placeholder="" id="">
        <div ng-if="error['car_brand']" class="invalid-tooltip">
          {{ error['car_brand']}}
        </div>
      </div>
    </div>

  </div> 
  <h1 class="subtitle">Персональная информация</h1> 
  <div class="subblock">
    <div class="form-group row">

      <label class="col-sm-3">Лицо осуществляющее управление автомобилем</label>
      <div class="col-sm-7">
        <div class="form-check" style="padding-top:5px;padding-bottom:5px;">
          <input class="form-check-input" name="select_person" type="radio" ng-value="1" ng-model="modelCar.is_particip">
          <label class="form-check-label">
            Участник подающий заявку
          </label>
        </div>
        <div class="form-check" style="padding-top:5px;padding-bottom:5px;">
          <input class="form-check-input" name="select_person" type="radio" ng-value="2" ng-model="modelCar.is_particip">
          <label class="form-check-label">
            Иное лицо
          </label>
        </div>
      </div>
    </div>
    <fieldset id="person-fieldset">
      <div class="form-group row">
        <label class="col-sm-3 required">Фамилия</label>
        <div class="col-sm-7">
          <input ng-click="error['last_name'] = ''" ng-class="{'is-invalid': error['last_name'] }" ng-model="modelCar.last_name" type="text" class="form-control" placeholder="" id="">
          <div ng-if="error['last_name']" class="invalid-tooltip">
            {{ error['last_name']}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 required">Имя</label>
        <div class="col-sm-7">
          <input ng-click="error['first_name'] = ''" ng-class="{'is-invalid': error['first_name'] }" ng-model="modelCar.first_name" type="text" class="form-control" placeholder="">
          <div ng-if="error['first_name']" class="invalid-tooltip">
            {{ error['first_name']}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 required">Отчество</label>
        <div class="col-sm-7">
          <input ng-click="error['middle_name'] = ''" ng-class="{'is-invalid': error['middle_name'] }" ng-model="modelCar.middle_name" type="text" class="form-control" placeholder="">
          <div ng-if="error['middle_name']" class="invalid-tooltip">
            {{ error['middle_name']}}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1">
          <label class="col-form-label required" style="line-height: 50%">Фамилия</label>
          <p class="" style="line-height: 50%; font-size:80%;">на латинице</p>
        </div>
        <div class="col-sm-7">
          <input ng-click="error['last_name_latin'] = ''" ng-class="{'is-invalid': error['last_name_latin'] }" ng-model="modelCar.last_name_latin" type="text" class="form-control" placeholder="" only-latin>
          <div ng-if="error['last_name_latin']" class="invalid-tooltip">
            {{ error['last_name_latin']}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1">
          <label class="col-form-label required" style="line-height: 50%">Имя</label>
          <p class="" style="line-height: 50%; font-size:80%;">на латинице</p>
        </div>
        <div class="col-sm-7">
          <input ng-click="error['first_name_latin'] = ''" ng-class="{'is-invalid': error['first_name_latin'] }" ng-model="modelCar.first_name_latin" type="text" class="form-control" placeholder="" only-latin>
          <div ng-if="error['first_name_latin']" class="invalid-tooltip">
            {{ error['first_name_latin']}}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-12 col-sm-3 required">Серия и номер паспорта</label>
        <div class="col-xs-4 col-sm-2">
          <input ng-click="error['passport_series'] = ''" ng-class="{'is-invalid': error['passport_series'] }" ng-model="modelCar.passport_series" type="text" class="form-control" placeholder="Серия" cleave="cleave_options.digits_4">
          <div ng-if="error['passport_series']" class="invalid-tooltip">
            {{ error['passport_series']}}
          </div>
        </div>
        <div class="col-xs-8 col-sm-5">
          <input ng-click="error['passport_number'] = ''" ng-class="{'is-invalid': error['passport_number'] }" ng-model="modelCar.passport_number" type="text" class="form-control" placeholder="Номер" cleave="cleave_options.digits_6">
          <div ng-if="error['passport_number']" class="invalid-tooltip">
            {{ error['passport_number']}}
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 required">Дата рождения</label>
        <div class="col-sm-7">
          <div class="input-group"
               moment-picker="modelCar.date_of_birth"
               format="DD.MM.YYYY"
               locale="ru">   
              <input class="form-control"
                     placeholder="дд.мм.гг"
                     ng-click="error['date_of_birth'] = ''" 
                     ng-model="modelCar.date_of_birth"
                     ng-model-options="{ updateOn: 'blur' }"
                     ng-disabled="modelCar.is_particip===1"> 
              <span class="input-group-addon">
                  <img class="date-time-icon" border="0" src="images/calendar.png" >
              </span>
          </div>
          <div ng-if="error['date_of_birth']" class="invalid-tooltip">
              {{ error['date_of_birth']}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 required">Место рождения</label>
        <div class="col-sm-7">
          <input ng-click="error['place_of_birth'] = ''" ng-class="{'is-invalid': error['place_of_birth'] }" ng-model="modelCar.place_of_birth" type="text" class="form-control" placeholder="">
          <div ng-if="error['place_of_birth']" class="invalid-tooltip">
            {{ error['place_of_birth']}}
          </div>
        </div>
      </div>
    </fieldset>
  </div>
    
    
   
  <div class="form-group row justify-content-center common-block" style="text-align:center;">
    <div class="col-10">
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </div>
</form>

