<div>
  <h1 class="subtitle">Бронирование авиа и ж/д билетов</h1>
  <div class="subblock">
    <p>Уважаемые участники II Всемирного зернового форума!</p>
    <p>В данном разделе вы можжете воспользоватся услугой бронирования и выписки авиа и ж/д билетов.</p>
    <p>1. Пожалуйста, заполните все поля формы.</p>
    <p>2. По окончании ввода данных нажмитекнопку "Сохранить" для получения подтверждения на Вашу электронную почту.</p>
    <p>3. С Вами свяжется представитель рабочей группы и проконсультирует по Вашему запросу.</p>
    <p>4. также Вы можете заополнить <a class="dark-link" href="">форму бронирования</a> и направить ее по адресу tickets@wgforum.ru>.</p>

    <p>С наилучшими пожеланиями,
      <br>Рабочая группа II Всемирного зернового форума</p>
  </div>  
  <div class="subblock" style="padding-top: 0;">
    <div class="" ng-show="particips.length > 0">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Фамилия Имя Отчество</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="particip in particips">
            <td>{{particip.last_name + ' ' + particip.first_name + ' ' + particip.middle_name}}</td>
            <td style="padding:0px 10px; vertical-align: middle;">
              <a class="action-icon-block" href="#!/ticket/view/{{particip.id}}"  data-toggle="tooltip" title="Заполнить">
              <img class="action-icon" border="0" src="images/edit.png" >
            </a>
              <a ng-show="{{particip.ticket_id}}" class="action-icon-block" ng-click="delete(particip.id)" data-toggle="tooltip" title="Удалить">
              <img class="action-icon" border="0" src="images/delete.png">
            </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>