<div>
  <h1 class="subtitle">{{hotels[idHotel].name}}</h1>
  <h4 class="subblock" style="font-size: 16px;">
        {{hotels[idHotel].description}}</h4>
  <div ng-show="hotels[idHotel].rooms.length > 0" class="subblock" style="padding-top: 0;">
    <div class="row" ng-repeat="room in hotels[idHotel].rooms" style="padding: 10px; margin:10px 0;background-color: #CDCDCD; width:70%; border-radius: .25rem;">
      <div class="col-xs-10">
        {{room.type + " номер " + room.category}}
      </div>
      <div class="col-xs-2">
        {{room.cost}}р
      </div>
    </div>
  </div>
</div>




<form name="reservationForm" ng-submit="reserveHotel()" role="form" novalidate>
  <div class="subblock-lr">
    <div class="form-group row">
      <label class="col-sm-3 required">Дата заезда</label>
      <div class="col-sm-7">
        <div class="input-group"
             moment-picker="modelReserv.arrival_date"
             format="DD.MM.YYYY"
             locale="ru">   
            <input class="form-control"
                   placeholder="дд.мм.гг"
                   ng-click="error['arrival_date'] = ''" 
                   ng-model="modelReserv.arrival_date"
                   ng-model-options="{ updateOn: 'blur' }"> 
            <span class="input-group-addon">
                <img class="date-time-icon" border="0" src="images/calendar.png" >
            </span>
        </div>
        <div ng-if="error['arrival_date']" class="invalid-tooltip">
            {{ error['arrival_date']}}
        </div>
      </div>
    </div>
  
    <div class="form-group row">
      <label class="col-sm-3 required">Дата выезда</label>
      <div class="col-sm-7">
        <div class="input-group"
             moment-picker="modelReserv.departure_date"
             format="DD.MM.YYYY"
             locale="ru">   
            <input class="form-control"
                   placeholder="дд.мм.гг"
                   ng-click="error['departure_date'] = ''" 
                   ng-model="modelReserv.departure_date"
                   ng-model-options="{ updateOn: 'blur' }"> 
            <span class="input-group-addon">
                <img class="date-time-icon" border="0" src="images/calendar.png" >
            </span>
        </div>
        <div ng-if="error['departure_date']" class="invalid-tooltip">
            {{ error['departure_date']}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 required">Количство гостей</label>
      <div class="col-sm-7">
        <input ng-click="error['guests'] = ''" ng-class="{'is-invalid': error['guests'] }" ng-model="modelReserv.guests" type="text" class="form-control" placeholder="" id="inputLastName">
        <div ng-if="error['guests']" class="invalid-tooltip">
          {{ error['guests']}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 form-label required">Тип размещения</label>
      <div class="col-sm-7">
        <select ng-focus="error['type_name'] = ''"
                ng-click="error['type_name'] = ''"
                ng-class="{'is-invalid': error['type_name'] }"
                ng-model="modelReserv.type_name"
                class="form-control"
                ng-options="o as o for o in types">
          <option selected value="" style="display:none;">Выберите тип размещения</option>
        </select>
        <div ng-if="error['type_name']" class="invalid-tooltip">
          {{ error['type_name']}}
        </div>
      </div>
    </div>  

    <div class="form-group row">
      <label class="col-sm-3 form-label required">Категория номера</label>
      <div class="col-sm-7">
        <select ng-focus="error['category_name'] = ''"
                ng-click="error['category_name'] = ''"
                ng-class="{'is-invalid': error['category_name'] }"
                ng-model="modelReserv.category_name"
                class="form-control"
                ng-options="o as o for o in categories">
          <option selected value="" style="display:none;">Выберите категорию номера</option>
        </select>
        <div ng-if="error['category_name']" class="invalid-tooltip">
          {{ error['category_name']}}
        </div>
      </div>
    </div>  

 

  <div class="form-group row justify-content-center common-block" style="text-align:center;">
    <div class="col-10">
      <button type="submit" class="btn btn-primary">Получить форму бронирования</button>
    </div>
  </div>
</form>
