<div>
  <h1 class="subtitle">Размещение</h1>
  <div class="subblock">
    <p>{{ message}}</p>
    <div class="" ng-show="particips.length > 0">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Фамилия Имя Отчество</th>
            <th>Категория номера</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in particips">
            <td>{{data.last_name + ' ' + data.first_name + ' ' + data.middle_name}}</td>
            <td>{{(data.hotel_id) ? (data.type_name + ' ' + data.category_name) : ''}}</td>
            <td style="padding:0px 10px; vertical-align: middle;">
              <a class="action-icon-block" href="#!/hotel/reserve_tutorial/{{data.id}}/{{(data.hotel_index)?data.hotel_index:-1}}" data-toggle="tooltip" title="Заполнить">
              <img class="action-icon" border="0" src="images/edit.png" >
            </a>
              <a ng-show="{{data.hotel_id}}" class="action-icon-block" ng-click="delete(data.id)" data-toggle="tooltip" title="Удалить бронирование">
              <img class="action-icon" border="0" src="images/delete.png">
            </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>