<div>
  <h1 class="subtitle">Размещение</h1>
  <div class="subblock">
    <p>{{ message}}</p>
    <div class="" ng-show="particips.length > 0">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Фамилия Имя Отчество</th>
            <th>Категория номера</th>
            <th>Бронирование</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in particips">
            <td>{{data.last_name + ' ' + data.first_name + ' ' + data.middle_name}}</td>
            <td>{{(data.reservation_id) ? data.type_name + ' ' + data.category_name : ''}}</td>
            <td style="padding:0px 10px;  vertical-align: middle;">
              <a href="#!/hotel/reserve_tutorial/{{data.id}}" ng-class="{disabled: data.reservation_id}" class="btn btn-primary" style="padding:2px 10px; margin:0px 0px;" role="button">Забронировать</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>