<div>
  <h1 class="subtitle">Список участников</h1>
  <p>{{ message}}</p>
  <div class="" ng-show="particips.length > 0">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="sorting">Фамилия Имя Отчество</th>
          <th class="sorting">Категория</th>
          <th>Фото</th>
          <th>Оплата</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in particips">
          <td>{{data.last_name + ' ' + data.first_name + ' ' + data.middle_name}}</td>
          <td>{{data.status}}</td>
          <td style="text-align: center;"> {{data.photo ? '' : 'Нет фото'}}
            <!-- <button style="height:25px;width:80%;"
                    class="btn btn-secondary btn-lg"
                    ng-if="data.photo"
                    ng-click="showPhoto()"
                    data-toggle="tooltip" data-target="#myModal"
                    title="Показать фото" ></button> -->
            <a class="action_icon_block" data-toggle="tooltip" title="Показать фото" ng-if="data.photo" ng-click="showPhoto(data)">
              <img class="action_icon" border="0" src="images/view.png" width=30 height=30 >
            </a>
            <div class="modal" id="myModal" role="dialog">
              <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content view-area">
                  <div class="modal-header">
                    Фотография участника

                  <img ng-src="{{userModel.photo}}"></img>
                  <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary crop-button" data-dismiss="modal">Закрыть</button>
                  </div> -
                </div>
              </div>
            </div>
          </td>
          <td>Оплата</td>
          <td style="text-align: center;">
            <a class="action_icon_block" href="#!/particip/view/{{data.id}}" data-toggle="tooltip" title="Редактировать">
              <img class="action_icon" border="0" src="images/edit.png" width=20 height=20 >
            </a>
            <a class="action_icon_block" ng-click="delete(data.id)" data-toggle="tooltip" title="Удалить">
              <img class="action_icon" border="0" src="images/delete.png" width=20 height=20>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row text-center">
    <a class="btn btn-primary" href="#!/create" role="button">Добавить участника</a>
  </div>
</div>