<div class='badge-container' ng-style="{'width':badge['main-container'].width,'height':badge['main-container'].height }">
  <img class="badge-background_0" src="../images/badge_background_0.png">
  <img class="badge-background_1" src="../images/badge_background_4.png">
  <div class="badge-photo" ng-style="{'width':badge['photo'].width,'height':badge['photo'].height,'top':badge['photo'].top,'left':badge['photo'].left}">
  </div>
  <div class="badge-name">
    Дроздович Олег Борисович
  </div>
  <div class="badge-organization">
    OLDOSFT
  </div>
  <div class="badge-position">
    Директор
  </div>
  <div class="badge-email">
    user@mail.ru
  </div>
  <div class="badge-telephone">
    +33454534534
  </div>
  
</div>