<div class='badge-container' ng-style="{'width':badge['main-container'].width,'height':badge['main-container'].height }">
  <img class="badge-background_0" src="../images/badge_background_0.png">
  <img class="badge-background_1" src="../images/badge_background_3.png">
  <div class="badge-photo" ng-style="{'width':badge['photo'].width,'height':badge['photo'].height,'top':badge['photo'].top,'left':badge['photo'].left}">
    <img ng-src="{{modelUser.photo}}">
  </div>
  <div class="badge-name">
    {{modelUser.last_name + " " + modelUser.first_name + " " + modelUser.middle_name}}
  </div>
  <div class="badge-organization">
    {{modelUser.organization}}
  </div>
  <div class="badge-position">
    {{modelUser.position}}
  </div>
  <div class="badge-email">
    {{modelUser.email}}
  </div>
  <div class="badge-telephone">
    {{modelUser.phone_number}}
  </div>
  
</div>