<form name="createForm" ng-submit="create()" role="form" novalidate>
  <h1 class="subtitle">Прибытие в Сочи</h1>
  <div class="subblock">
    <div class="form-group row">
      <label class="col-sm-3 form-label required">Место прибытия</label>
      <div class="col-sm-7">
        <select ng-focus="error['arrival_place'] = ''" 
                ng-click="error['arrival_place'] = ''"
                ng-class="{'is-invalid': error['arrival_place'] }"
                ng-model="modelFlight.arrival_place"
                class="form-control">
          <option selected value="" style="display:none;">Выберите место прибытия</option>
          <option value='Ж/д вокзал "Сочи"'>Ж/д вокзал "Сочи"</option>
          <option value='Международный аэропорт Сочи'>Международный аэропорт Сочи</option>
        </select>
        <div ng-if="error['arrival_place']" class="invalid-tooltip">
          {{ error['arrival_place']}}
        </div>
      </div>
    </div>  

    <div class="form-group row">
      <label class="col-sm-3 required">Дата прибытия</label>
      <div class="col-sm-7">
        <div class="input-group"
             moment-picker="modelFlight.arrival_date"
             format="DD.MM.YYYY"
             locale="ru">   
            <input class="form-control"
                   placeholder="дд.мм.гг"
                   ng-click="error['arrival_date'] = ''" 
                   ng-model="modelFlight.arrival_date"
                   ng-model-options="{ updateOn: 'blur' }"> 
            <span class="input-group-addon">
                <img class="date-time-icon" border="0" src="images/calendar.png" >
            </span>
        </div>
        <div ng-if="error['arrival_date']" class="invalid-tooltip">
            {{ error['arrival_date']}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 required">Время прибытия</label>
      <div class="col-sm-7">
        <div class="input-group"
             moment-picker="modelFlight.arrival_time"
             format="HH:mm"
             locale="ru"
             show-header="false">   
            <input class="form-control"
                   placeholder="__:__"
                   ng-click="error['arrival_time'] = ''" 
                   ng-model="modelFlight.arrival_time"
                   ng-model-options="{ updateOn: 'blur' }"> 
            <span class="input-group-addon">
                <img class="date-time-icon" border="0" src="images/clock.png" >
            </span>
        </div>
        <div ng-if="error['arrival_time']" class="invalid-tooltip">
            {{ error['arrival_time']}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 required">Номер рейса / номер поезда</label>
      <div class="col-sm-7">
        <input ng-click="error['arrival_flight_number'] = ''" ng-class="{'is-invalid': error['arrival_flight_number'] }" ng-model="modelFlight.arrival_flight_number" type="text" class="form-control" placeholder="">
        <div ng-if="error['arrival_flight_number']" class="invalid-tooltip">
          {{ error['arrival_flight_number']}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 required">Терминал</label>
      <div class="col-sm-7">
        <input ng-click="error['arrival_terminal'] = ''" ng-class="{'is-invalid': error['arrival_terminal'] }" ng-model="modelFlight.arrival_terminal" type="text" class="form-control" placeholder="">
        <div ng-if="error['arrival_terminal']" class="invalid-tooltip">
          {{ error['arrival_terminal']}}
        </div>
      </div>
    </div>
    <h1 class="subtitle">Отправление из Сочи</h1>
    <div class="subblock">
    <div class="form-group row">
      <label class="col-sm-3 form-label required">Место отправления</label>
      <div class="col-sm-7">
        <select ng-focus="error['departure_place'] = ''" 
                ng-click="error['departure_place'] = ''"
                ng-class="{'is-invalid': error['departure_place'] }"
                ng-model="modelFlight.departure_place"
                class="form-control">
          <option selected value="" style="display:none;">Выберите место отправления</option>
          <option value='Ж/д вокзал "Сочи"'>Ж/д вокзал "Сочи"</option>
          <option value='Международный аэропорт Сочи'>Международный аэропорт Сочи</option>
        </select>
        <div ng-if="error['departure_place']" class="invalid-tooltip">
          {{ error['departure_place']}}
        </div>
      </div>
    </div>  

    <div class="form-group row">
      <label class="col-sm-3 required">Дата отправления</label>
      <div class="col-sm-7">
      <div class="input-group"
             moment-picker="modelFlight.departure_date"
             format="DD.MM.YYYY"
             locale="ru">   
            <input class="form-control"
                   placeholder="дд.мм.гг"
                   ng-click="error['departure_date'] = ''" 
                   ng-model="modelFlight.departure_date"
                   ng-model-options="{ updateOn: 'blur' }"> 
            <span class="input-group-addon">
                <img class="date-time-icon" border="0" src="images/calendar.png" >
            </span>
        </div>
        <div ng-if="error['departure_date']" class="invalid-tooltip">
            {{ error['departure_date']}}
        </div>
      </div>  
    </div>

    <div class="form-group row">
      <label class="col-sm-3 required">Время отправления</label>
      <div class="col-sm-7">
        <div class="input-group"
             moment-picker="modelFlight.departure_time"
             format="HH:mm"
             locale="ru"
             show-header="false">   
            <input class="form-control"
                   placeholder="__:__"
                   ng-click="error['departure_time'] = ''" 
                   ng-model="modelFlight.departure_time"
                   ng-model-options="{ updateOn: 'blur' }"> 
            <span class="input-group-addon">
                <img class="date-time-icon" border="0" src="images/clock.png" >
            </span>
        </div>
        <div ng-if="error['departure_time']" class="invalid-tooltip">
            {{ error['departure_time']}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 required">Номер рейса / номер поезда</label>
      <div class="col-sm-7">
        <input ng-click="error['departure_terminal'] = ''" ng-class="{'is-invalid': error['departure_terminal'] }" ng-model="modelFlight.departure_flight_number" type="text" class="form-control" placeholder="">
        <div ng-if="error['departure_terminal']" class="invalid-tooltip">
          {{ error['departure_terminal']}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 required">Терминал</label>
      <div class="col-sm-7">
        <input ng-click="error['departure_terminal'] = ''" ng-class="{'is-invalid': error['departure_terminal'] }" ng-model="modelFlight.departure_terminal" type="text" class="form-control" placeholder="">
        <div ng-if="error['departure_terminal']" class="invalid-tooltip">
          {{ error['departure_terminal']}}
        </div>
      </div>
    </div>

  </div>


  <div class="form-group row justify-content-center common-block" style="text-align:center;">
    <div class="col-10">
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </div>
</form>
