<div>
  <h1 class="subtitle">Полетные данные</h1>
  <div class="subblock">
    <p>Уважаемые участники II Всемирного зернового форума!</p>
    <p>Просим корректно заполнить Ваши полетные данные.</p>
    <p>Для всех участников II-го Всемирного зернового форума будет организован трансфер до мест проживания участников и обратно. Трансфер осуществляется только в аккредитованные отлели Форума.</p>
    <p>Участников встречают сотрудники Форума в залах прибытия аэропорта и ж/д вокзалов, провожают до шаттла или помогают вызвать такси.</p>
    <p>С наилучшими пожеланиями,
      <br>Рабочая группа II Всемирного зернового форума</p>
  </div>  
  <div class="subblock" style="padding-top: 0;">
    <div class="" ng-show="particips.length > 0">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Фамилия Имя Отчество</th>
            <th>Прибытие</th>
            <th>Вылет</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="particip in particips">
            <td>{{particip.last_name + ' ' + particip.first_name + ' ' + particip.middle_name}}</td>
            <td width=20%>{{particip.arrival_date}}</td>
            <td width=20%>{{particip.departure_date}}</td>
            <td style="padding:0px 10px; vertical-align: middle;">
              <a class="action-icon-block" href="#!/flight/view/{{particip.id}}"  data-toggle="tooltip" title="Заполнить">
              <img class="action-icon" border="0" src="images/edit.png" >
            </a>
              <a ng-show="{{particip.arrival_date}}" class="action-icon-block" ng-click="delete(particip.id)" data-toggle="tooltip" title="Удалить">
              <img class="action-icon" border="0" src="images/delete.png">
            </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>