


.topnav {
	display: block;
	position: fixed;
	width: 100%;
	height: 80px;
  background: white;
	background: linear-gradient(to right,#FFFFFF,#818A93)!important;  
  	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  	z-index:1000;
}


.sidebar {
	display: block;
	position: fixed;
	top: 80px;
	width: 240px;
	height: calc(100vh - 100px);
	
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;

	/*-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;sq
	-o-transition: all .5s ease;
	transition: all .5s ease;*/

  border-right: 1px solid #BEBEBE;
}

.sidebar .nav-item {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
  width: 210px;

  display: block;

}

.sidebar .nav-link {
  padding: 5px;
  width: 100%;
}


.sidebar .nav-link.active {
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  
}

.sidebar-loading {
  visibility: hidden;
}

.sidebar-loaded {
  visibility: visible!important;
}



.content {
	display: block;
	margin-left: 240px;
	padding-top: 100px;

	/*-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;*/
}

@media (max-width: 950px) {
	.topnav {
		position: relative;
	}

	.sidebar {
	  position: relative; 
	  top: 0px;
	  padding-top: 20px;
	  width: 100%; 
	  height: auto; 
    border-right: 0;
	}
	.content {
	  top: 0px;
    padding-top: 0px;
	  margin-left: 0px;
	}

}


.logo {
  display:block;
  position: absolute;
  top:-10px;
  left: 10px;
  opacity: 0.9;
  height: 100px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.common-block {
  padding-top: 35px;
  padding-bottom: 35px;
}


.common-text-block {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

.subtitle {
    background-color: lightslategrey;
    color: white;
    font-size: 2.5rem;
    text-shadow: 0px 0px 1px #000000; 
    margin-bottom: 30px;
    margin-top: 20px;
    /*background: linear-gradient(to right,#b1beca,#818a93,#b1beca); */
    background: #818a93;
    border-radius: .25rem;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: -30px;
    padding-right: -30px;
    text-align: center;
}

.subblock {
  padding-left: 20px;
  padding-right: 20px;
}

/*Required asterisk*/

label.required:after {
  content:"*";
  color:red;
}


.required_ext:after {
  content: "*";
  position: absolute;
  top: 0px;
  right: 6px;
  color:red;
}


label {
	font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
}


.action_icon_block {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 5px;
    margin-right: 5px;
}

.action_icon { 
    display: block;
    opacity: 0.6;
    width: 28px;
    height: 28px;
    left: 5px;
}

.action_icon:hover {
    opacity: 0.7;
    margin-top:-1px;
    margin-left:-1px;
    width: 30px;
    height: 30px;
}

.loader {
	 width: 20px;
	 margin-left: 0px;
	 margin-top: 5px;
	 position: fixed;
}


.invalid-tooltip {
    background-color: #D92A3B;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 3px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    display: inline-block;

    /* Fade in tooltip */
    opacity: 0.75;
}